{%extends 'core/layout.html'%}
{%block content%}
    <section class="container topic-bottom">
    <div class="blog-section">
       
        <div class="blog">
            <h1>{{object.title}}</h1>
            {%for post in object.articles%}
            <div class="topic-card">
                <div class="topic-content">
                    <a href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="" srcset=""></a>
                </div>
                <div class="topic-body"> 
                    <a href="{{post.get_absolute_url}}"><h2>{{post.title}}</h2></a>
                    <p>{{post.description}}</p>
                </div>
            </div>
            {%endfor%}
        </div> 
        <div class="side-bar">
            {%for topic in object.articles%}
            <a href="{{topic.get_absolute_url}}">
                <p>{{topic.title}}</p>
            </a>
            {%endfor%}
        </div>   
    </div>    
    </section>
{%endblock content%}