{%extends 'core/layout.html'%}
{%block content%}
    <section class="container">
        <h1>{{object.title}}</h1>
        <div class="blog">
            {%for post in object.articles%}
            <div class="topic-card">
                <div class="topic-content">
                    <a href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="" srcset=""></a>
                </div>
                <div class="topic-body"> 
                    <a href="{{post.get_absolute_url}}"><h2>{{post.title}}</h2></a>
                    <p>{{post.description}}</p>
                </div>
            </div>
            {%endfor%}
        </div>        
    </section>
{%endblock content%}