{%load static %}
<div class="bio bio1">
    <img src="{% static "core/images/hero1.png"%}" alt="" srcset="">
    <div class="bio-data">
        <div>
            <h1>Master your coding Skills with the industry coding standards!!!</h1>
        </div>
        <div class="bio-info">
            <div>
                <img src="{% static "core/images/bio.jpeg"%}" alt=""> 
            </div>
            <div>
                <h4>Hi!! Am Mundia Stacy Pizo am An electrical and Telecommunications Engineer and Software engineer 
                </h4>
                <p>Check out my <a href="/" target="_blank" >RESUME</a></p>
            </div>
        </div>  
   </div>
</div>
