{%load static%}
<footer>
    <section class="container">
        <div class="icon-section">
            <div class="icon">
               <img src="{%static "core/images/facebook.png"%}" alt="" srcset="">
            </div>
            <div class="icon">
                <img src="{%static "core/images/instagram.jpeg"%}" alt="" srcset="">
            </div>
            <div class="icon">
                <img src="{%static "core/images/twitter.jpeg"%}" alt="" srcset="">
            </div>
            <div class="icon">
                <img src="{%static "core/images/youtube.png"%}" alt="" srcset="">
            </div>
        </div> 
        <div class="copyright">
            <p>Copyright@2020</p>
        </div>

    </section>
</footer>