<hr>
<footer>
    <section class="container">
        <div class="footer-section">
            <div class="footer-column">
                <h1>Contact US</h1>
                <ul>
                    <li>linkedin</li>
                    <li>facebook</li>
                    <li>twitter</li>
                </ul>
            </div>
            <div class="footer-column">
                <h1>Resourcs</h1>
                <ul>
                    <li>linkedin</li>
                    <li>facebook</li>
                    <li>twitter</li>
                </ul>
            </div>
            <div class="footer-column">
                <h1>follow Me</h1>
                <ul>
                    <li>linkedin</li>
                    <li>facebook</li>
                    <li>twitter</li>
                </ul>
            </div>
        </div>
    </section>
</footer>