{%extends 'core/layout.html'%}
{%load static%}
{%block content%}

{%include 'core/about.html'%}
<section class="content-decoration">
    <div class="container info">
        <div>
            <h1>Level up coding</h1>
        </div>
        <div class="icon-section">
            <div class="icon">
                <h1>Icon1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere accusamus corporis unde provident magnam recusandae, quisquam iure est minima laudantium assumenda ipsa iste molestiae dolore at. Nemo deserunt odio maiores!</p>
            </div>
            <div class="icon">
               <h1>icon2</h1>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, assumenda molestias. Explicabo tenetur debitis nulla laborum amet! Eaque accusantium tempore .</p>
            </div>
            <div class="icon">
                <h1>icon3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eum quaerat natus cupiditate ipsum perspiciatis molestias magnam recusandae tenetur commodi porro modi voluptates corporis laboriosam quam, vel maxime quia amet?</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Most Popular courses!!!</h1>
    <div class=" course-list home-margin">
        {%for course in object_list%}
        <a href="{%url 'course-details' course.slug %}">
            <div class="card">
                <img src="{{course.image.url}}" alt="">
                <p>{{course.description}}</p>
            </div>
        </a>
        {%empty%}
            <h1>There are no courses yet</h1>
        {%endfor%}
    </div>
   </div>
</section>
{%endblock content%}