{%extends 'core/layout.html'%}
{%load static%}
{%block content%}
<section class="container">
    <div class="hero">
      <img src="{% static 'core/images/auto.png'%}" alt="" srcset=""> 
      <h1>Welcome to Automate with Stacy</h1>
      <button>Get started!!!</button>
    </div>
    <div class="bio" >
        <div class="bio-image" >
            <img src="{% static 'core/images/bio.jpeg'%}" alt="" srcset="">
        </div>
        <div>
            <p>Hi this is Mundia Stacy Pizo</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit saepe recusandae suscipit numquam modi natus, tempore repudiandae odio facere possimus ullam magni nesciunt ut aliquam asperiores ratione voluptatem tenetur consectetur.</p>
        </div>
    </div>
    <form action="">
        <h1>Contact Me</h1>
        <label for="">Email</label>
        <input type="text">
        <label for="">Message</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send" placeholder="send">
    </form>
</section>
{%endblock content%}