{%extends 'core/layout.html'%}
{%load static%}
{%block content%}
    <div class="course-list">
        <h1>Cracking codes Tutorials</h1>
        <img src="{%static 'core/images/auto1.png'%}" alt="" srcset="">
        {%for course in object_list%}
        <a href="{%url 'course-details' course.slug %}">
            <div class="card">
                <h1>{{course.title}}</h1>
                <img src="{{course.image.url}}" alt="">
                <p>{{course.description}}</p>
            </div>
        </a>
        {%empty%}
            <h1>There are no courses yet</h1>
        {%endfor%}
    </div>
{%endblock content%}