<nav>
    <div class="container"> 
        <div class="display">
            <div>
                <a href="{%url 'home'%}"><h1>Cracking codes</h1></a> 
                {%if user.is_authenticated%}
                 <span>{{user.username}}</span>
                {%endif%}
            </div>
            <ul>
               <a href="{%url 'home'%}"><li>Home</li></a>
                <a href="{%url  'courses'%}"><li>Courses</li></a>
                <a href="{% url 'app_temp'%}"><li>Templates</li></a>
                <a href="{% url 'blogs'%}"><li>Blogs</li></a>
                {%if user.is_authenticated %}
                <a href="{%url 'logout'%}"><li>logout</li></a>
                {%else%}
                <a href="{%url 'login'%}"><li>Sign in</li></a>
                <a href="{%url 'register'%}"><li>Sign up</li></a>
                {%endif%}
            </ul>  
        </div>
    </div>
</nav>
<hr