<nav>
    <div class="container"> 
        <div class="display">
           <a href="{%url 'home'%}"><h1>Code with Stacy</h1></a> 
            <ul>
               <a href="{%url 'home'%}"><li>Home</li></a>
                <a href="{%url  'courses'%}"><li>Courses</li></a>
                <a href="{% url 'app_temp'%}"><li>Templates</li></a>
                <a href="{% url 'blogs'%}"><li>Blogs</li></a>
                <a href="{%url 'login'%}"><li>Sign in</li></a>
                <a href="http://"><li>Sign up</li></a>
            </ul>  
        </div>
    </div>
</nav>
<hr>