*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

nav{
    background-color: #7a6853;
    height: 100px;
    margin:auto;
}
 nav a{
    color:white;
}
nav a:hover{
    color:#278b2c;
}

.container{
    width: 80%;
    margin: auto;
}
.container h1{
    text-align: center;
    padding-top: 25px;
}
nav ul,.display{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

ul li{
    padding:40px 10px 0 10px;

}

nav h1{
    padding:38px 0 0 0
}

#super a img{
    margin:auto;
    justify-content:space-between;
    width:100%;
    object-fit:cover;
    margin-bottom: 40px;
}
#super h1{
    margin-bottom: 15px;
    text-align:center
}
#sub img{
    width: 100%;
}

.hero{
    margin:auto;
    width:100%;
    padding-top:20px;
    margin-bottom: 20px;
    
}

.hero button{
    margin-top: 10px;
}
.hero h1{
    font-size:30px;
    text-align: center;
    margin-bottom:8px;

}
.hero img{
    width: 100%;
    margin-bottom:25px
}

footer{
    padding-top:40px;
    padding-bottom: 100px;
}

form{
    display: flex;
    padding:25px 20px 25px 20px;
    /* background-color:#e8f5e9; */
    margin:auto;
    margin-bottom:40px;
    margin-top:40px;
    width:40%
} 
.form-membership{
    background-color: none;
    padding:none;
    margin-bottom:none;
    margin-top:none;
}
    
 #sub form{
    display: flex;
    flex-direction:column;
    width: 250px;
    padding:25px 20px 25px 20px;
    background-color:lightgray;
    margin:auto;
    margin-bottom:40px;
    margin-top:40px
} 
.card-input{
    max-width: 400px;
}
.card-input input{
    width:260px
}
.date-input{
    display: flex;
    flex-direction:row;
    max-width: 400px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px
}
.card-md-input input{
    width: 80px;
}
.cvv{
    padding:0 64px 0 5px;
}

.card{
   max-width: 280px;
   margin:10px;
   padding:10px;
   align-content: center;
   border-radius: 5px;
   background-color:white;
}
.card:hover{
    border: 1px solid blue;
}
.card img{
    height: 200px;
    width: 100%;
    align-items: center;
    object-fit:cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.card h1{
    font-size:25px
}

.hero{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:20px;
    margin-bottom:100px;
}

.tag{
    margin-bottom: 100px;
}
.tag h1{
    margin-top:20px;
}
.tag h4{
    margin-bottom: 15px;
}
a:hover(){
    border-color: blue;
}

pre{
    margin-top:20px;
    background-color:#e8f5e9;
    padding:20px 15px 25px 15px;
    margin-bottom:20px;
}
footer{
    background-color:#fafafa;
}
.main-body, .course-list,.blog-section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top:40px;
    align-items: center;
}
.blog-section{
    margin-top: 0px;
    margin-bottom:40px;
    width:100%;
}

.footer-section,.icon-section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between
}
.icon-section{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-column , .footer-column ul{
    display: flex;
    flex-direction:column;
}
.template-tag{
    width:60%;
    margin: auto;
}

.lesson-detail{
    margin: auto;
    margin-bottom: 80px;
}
.lessons{
    justify-content:space-evenly;
}
.lesson-detail h1{
    margin-top:15px
}
iframe{
    margin-bottom: 80px;
}

form legend h1{
    margin-bottom: 15px;
    color: blue
}
.fieldWrapper{
    display: flex;
    flex-direction:column;
    margin-top:8px;
    margin-bottom:8px;
}


.blog h1{
    margin-top:20px;
    margin-bottom:20px
}
.topic-card{
    display: flex;
    justify-content:space-between;
    max-height: 150px;
    width: 100%;
    border: 1px solid lightgray;
    margin-top:40px;
    border-radius: 5px;
}
.topic-card img{
    height:150px;
    width:90%;
    object-fit: cover;

}
.topic-content{
    width: 30%;
}
.topic-body{
    width:65%;
}
/* This is  style for the images that are uploaders via ckeditor */
p img{
    border: 1px solid #8151cd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50; /* Green */
    border: 5px;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.bio {
    position: relative;
}
.bioimage img, .bio img{
  width:100%;
  height:400px;
  margin:auto;
}
.bio1 img{
    height:700px
}
.bio-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center
  }
.bio-data button{
    margin-top: 20px;
}
  .bio-data h1, .banner h1, .copyright p{
      text-align: center;
     
  }
  .bio-data h1{
      color: white;
      font-size:40px;
  }
  .copyright p, .banner h1{
      margin-top: 25px;
  }
  .banner{
      align-items: center;
  }

.bio-data img{
    height:400px;
    width:100%;
    border: 4px solid white;
    margin-top:40px;
    object-fit: cover;
}

.bio-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio-info h4, .bio-info p{
    text-align: center;
    margin-top:15px;
}
.content-decoration{
    background-color:#fafafa;
}

.home-margin{
    margin-top: 60px;
}
.info{
    align-items: center;
    text-align: center;
}
.info h1{
    padding-top: 20px;
}
.icon{
   max-width:250px;
}
.icon img{
    border-radius: 10px;
    height: 50px;
    width: 70px;
    margin-top: 10px;
    padding:0 20px 0 20px;
}
.blog{
    width: 70%;
    margin:auto;
}
.video-position{
    margin:auto;
}
.side-bar{
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    width: 200px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    align-items: center;
    margin:auto;
    margin-top:120px;
    margin-left: 15px;
}
.side-bar p{
    padding:4px 6px 4px 6px;
    background-color: #fafafa;
    border-radius: 3px;
    margin-left: 5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}
.topic-bottom{
    margin-bottom:80px
}
@media(max-width:920px){
    .bio-data h1{
        font-size:large;
    }
    .bio-data img, .bioimage img{
        height:250px;
    }
    .bio-data{
        top: 50%; 
      }
      .home-margin{
        margin-top: 40px;
    }
    .container{
        width: 95%;
    }
    .side-bar{
        margin-top: 60px;
        margin-bottom: 60px;
        width:400px;
    }
    .form{
        width: 90%;
    }
    .topic-card{
        display: flex;
        justify-content:space-between;
        max-height: 90px;
        width: 100%;
        margin-top:20px;
        border-radius: 5px;
    }
    .topic-card img{
        height:90px;
        width:90%;
        object-fit: cover;
    }
    .topic-body h2{
        font-size: small;
    }
    .topic-body p{
        font-size: 9px;
    }
    .blog{
        width: 100%;
    }
}
